@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color: #1c1c24;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow: auto;
    font-size: 15px;
}
.title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10em;
    width: 100%;
}

.links{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40em;
}

.buttons {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 8em;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.8em;
    margin-top: -4.5em;
    margin-left: -3.3em;
}

h2{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 3em;
}

a{
    background-color: #9d2126;
    box-shadow: 0px 0px 15px #9d2126;
    border: none;
    width: 15em;
    border-radius: 10px;
    padding: 1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    animation: shine 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    margin: 2em;
    margin-top: -2em;
}

span{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    color: white;
}

#scrolling-image{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20em;
}
#scrolling-image img{
    position: absolute;
    width: 30em;
}

.suzanne{
    visibility: hidden;
    -webkit-filter: drop-shadow(0 12px 5px #9d2126);
    filter: drop-shadow(0 0 5px #9d2126);
    animation: suzanneShine 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes suzanneShine{
    0%{
        -webkit-filter: drop-shadow(0 12px 5px #9d2126);
        filter: drop-shadow(0 0 5px #9d2126);
    }
    50%{
        -webkit-filter: drop-shadow(0 12px 20px #9d2126);
        filter: drop-shadow(0 0 10px #9d2126);
    }
    100%{
        -webkit-filter: drop-shadow(0 12px 5px #9d2126);
        filter: drop-shadow(0 0 5px #9d2126);
    }
}

@keyframes shine{
    0%{
        box-shadow: 0px 0px 5px #9d2126;
    }
    50%{
        box-shadow: 0px 0px 20px #9d2126;
    }
    100%{
        box-shadow: 0px 0px 5px #9d2126;
    }
}